<appSettings>
  <!-- update these with your BotId, Microsoft App Id and your Microsoft App Password-->
  <add key="MicrosoftAppId" value="BOT APP ID" />
  <add key="MicrosoftAppPassword" value="BOT APP PASSWORD" />
  <!-- update these with your app ID registration information -->
  <add key="ActiveDirectory.ClientId" value="AD CLIENT ID" />
  <add key="ActiveDirectory.ClientSecret" value="AD CLIENT SECRET" />
  <add key="ActiveDirectory.RedirectUrl" value="https://BOT HOST NAME/callback" />
</appSettings>